@import url(./variables.css);

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family:'RubikVinyl-Regular' ;
    overflow: hidden; /* Oculta el desbordamiento si el video es más grande que la pantalla */
}

/* Contenedor del video */
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Envía el video al fondo */
    overflow: hidden;
}

#bg-video {
    width: 100%;
    height: 100%;
    object-fit: cover; /*  video cubra toda el área */
}

/* Contenedor del contenido (logo y botón) */
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra el contenido */
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Sombra para mejor legibilidad */
}

.logo h1 {

    font-size: 5em;
    font-family:'Fredoka-VariableFont';
    margin: 0;
    color: #3b2783; 
    letter-spacing: 0.1em;
}

.logo p {
    font-family: 'Fredoka-VariableFont' ;
    font-size: 1.5em;
    margin: 0;
    letter-spacing: 0.5em;
}

/* Estilo del botón */
#main-button {
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 1.2em;
    font-weight: bold;
    color: #000;
    background-color: #3b2783;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
     font-family: 'Fredoka-VariableFont' ;
}

#main-button:hover {
    background-color:#9481d6 ;
}